# Ignorar pastas de ambiente virtual
venv/
.venv/

# Ignorar arquivos de cache do Python
__pycache__/
*.pyc

# Ignorar arquivos temporários do editor
*~
*.swp
.kate-swp
.kde4-kate-swp

# Ignorar logs ou outputs específicos (se existirem depois)
# logs/
# output/

# Ignorar a pasta modules/ na raiz do projeto (se ela ainda existir)
# modules/
